.pregFrec-Container {
    background-color: #3F50C8;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
  }

  .titlePregFrec{
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    font-size: 5rem;
  }
  
.subBox{
  background-color: lightgray;
    width: 60%;
    margin: 1% 2.5% 1% 1%;
}
/* Estilo para los boxes en la izquierda */
.box:nth-child(odd) {
  display: flex;
  justify-content: flex-start; /* Alineación a la izquierda */
}

/* Estilo para los boxes en la derecha */
.box:nth-child(even) {
  display: flex;
  justify-content: flex-end; /* Alineación a la derecha */
}