.pregFrec-Container {
  background-image: url('/images/FONDO-INTERMEDIO.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  /* background-position: bottom; */ /* Centra la imagen */
  /* background-attachment: fixed; */ /* La imagen de fondo permanece fija al hacer scroll */
  background-repeat: no-repeat; /* La imagen no se repite */
  height: auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  }

  .titlePregFrec{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
  }
  
.subBox{
  background-color: lightgray;
    width: 60%;
    margin: 1% 2.5% 1% 1%;
}
/* Estilo para los boxes en la izquierda */
.box:nth-child(odd) {
  display: flex;
  justify-content: flex-start; /* Alineación a la izquierda */
}

/* Estilo para los boxes en la derecha */
.box:nth-child(even) {
  display: flex;
  justify-content: flex-end; /* Alineación a la derecha */
}