.pregFrec-Container {
  background-image: url('/images/FONDO-INTERMEDIO.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  /* background-position: bottom; */ /* Centra la imagen */
  /* background-attachment: fixed; */ /* La imagen de fondo permanece fija al hacer scroll */
  background-repeat: no-repeat; /* La imagen no se repite */
  height: auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  }

  .titlePregFrec{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
  }

/* Estilo para los boxes en la izquierda */
.faq-box:nth-child(odd) {
  display: flex;
  justify-content: flex-start; /* Alineación a la izquierda */
}

/* Estilo para los boxes en la derecha */
.faq-box:nth-child(even) {
  display: flex;
  justify-content: flex-end; /* Alineación a la derecha */
}

.faq-box {
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: #333;
}


.faq-item {
  width: 50%;
  background: #FFFFFF;
  margin-bottom: 1%;
  padding: 2%;
  margin: .5% 1.5% .5% .5%;
  border-left: 7px solid #08e2e6;

}

.question {
  font-size: 1.1em;
  color: #333;
  margin-bottom: .5%;
  font-weight: bold;
}

.answer {
  font-size: 1em;
  color: #666;
}

.b-r{
  border-right: 7px solid #08e2e6;
  border-left: none !important;
}

@media(max-width: 992px){
  .titlePregFrec{
    font-size: 3rem;
  }
  .faq-item{
    width: 70%;
    margin: 2%;
  }
}