.quienesSomos-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/RecursoNº1-.png');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: top; /* Centra la imagen */
    /* background-attachment: fixed; */ /* La imagen de fondo permanece fija al hacer scroll */
    background-repeat: no-repeat; /* La imagen no se repite */
    height: auto;
    min-height: 95vh;
    padding: 1%;
  }
  

  /* TITLE */

  .TitleQuienesSomos-Content{
    color: white;
    font-style: italic;
    font-size: 6rem;
}
.TitleQuienesSomos2-Content{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    font-size: 6rem;
}

/* CONTENT */
.sec2QuienesSomos-Container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iframeQuienesSomos{
  width: auto !important;
  height: 80% !important;
}

.pQuienesSomos{
  color: white;
  font-size: 2rem;
}

.custom-divider {
  border: 0;
  height: 2px; /* Ajusta el grosor según tu preferencia */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  margin: 20px 0; /* Ajusta el margen superior e inferior según tu preferencia */
}
