.quienesSomos-Container {
    display: flex;
    justify-content: center;
    background-image: url('/images/RecursoNº1.JPG');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* La imagen de fondo permanece fija al hacer scroll */
    background-repeat: no-repeat; /* La imagen no se repite */
    height: auto;
    min-height: 95vh;
  }
  

  /* TITLE */

  .TitleQuienesSomos-Content{
    color: white;
    font-style: italic;
    font-size: 6rem;
}
.TitleQuienesSomos2-Content{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    font-size: 6rem;
}