.envios-Container {
  background-image: url('/images/RecursoEnvios.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: top; /* Centra la imagen */
  /* background-attachment: fixed; */ /* La imagen de fondo permanece fija al hacer scroll */
  background-repeat: no-repeat; /* La imagen no se repite */
  height: auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  }

  /* TITLE */
  .titleEnvios-Content{
    color: white;
    font-style: italic;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* CONTENT SEC 2 */
  .envios-Content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .imgEnvios-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgEnvios{
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
  .subTitleEnvios{
    color: white;
    font-style: italic;
    font-size: 3em;
    margin: 0 !important;
    text-align: center;
  }
  
.p-Envios-Container{
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.372);
  border-radius: 5%;
  padding: 1%;
}

  .pRTA-Envios{
    color: yellow;
  }

  .pPregunta-Envios{
    color:red;
  }

  .pACLARACION-Envios{
    color: yellow;
    font-size: 1rem;
    background-color:rgba(0, 0, 0, 0.679)

  }
  .vertical-divider-Envios{
    width: .3%; /* Ajusta el grosor del divisor según tu preferencia */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.904), rgba(255, 255, 255, 0));
}

@media(max-width: 992px){
  .envios-Container{
    padding: 4%;
  }
  .titleEnvios-Content{
    font-size: 4rem;
    margin: 3%;
  }
  .envios-Content{
    flex-direction: column;
  }
  .subTitleEnvios{
    font-size: 1.5rem;
  }
  .p-Envios-Container{
    font-size: 1.5rem;
  }
}
@media (min-width: 2500px){
  .p-Envios-Container{
    min-height: 100%;
    font-size: 4.5rem;
  }
  .subTitleEnvios{
    font-size: 4.5rem;
  }
  .titleEnvios-Content{
    font-size: 6vw;
    margin: 3%;
  }
  .pACLARACION-Envios{
    font-size: 1.2vw;
  }
}