.navbar{
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
}

.navbar-brand{
    display: flex;
    justify-content: center;
}

.nav-link{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: lightgray;
    width: max-content;
}

.nav-item{
    width: min-content;
    align-content: center;
}
.vertical-divider-NavBar {
    width: .3%; /* Ajusta el grosor del divisor según tu preferencia */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.904), rgba(255, 255, 255, 0));
    margin:.5%; /* Ajusta el margen izquierdo y derecho según tu preferencia */
}

.logoBtn-Navbar{
    background-color: transparent;
    border: none;
    width: 30%;
    height: 30%;
}

.logoImg-Navbar{
    width: 75%;
    height: 75%;
}

@media (max-width: 992px) {
    .navbar{
        padding-right: 2%;
        justify-content: space-between !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }
    .logoBtn-Navbar{
        width: 70%;
        height: 70%;
    }
    .navbar-brand{
        justify-content: flex-start;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center !important;
        align-items: center;
        flex-direction: column;
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
      }
      .navbar-toggler{
        z-index: 9999;
      }

      .navbar-toggler-icon {
        background-image: url('/images/menu.png') !important;
      }
      .nav-link {
        color: white;
        font-size: 1.5rem; /* Aumenta el tamaño de fuente para mejorar la legibilidad */
        margin: 1rem
      }
      
      .vertical-divider-NavBar {
        display: none; /* Oculta los divisores verticales en el menú expandido */
      }
}