.carousel-item {
  height: 65vh;
  padding: 5%;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 5%;
  width: 100%;
}

.imgSlide-Container {
  width: 10%; /* Ajuste el tamaño según sea necesario para la imagen */
  height: auto;
  margin-right: 2%; /* Espacio entre la imagen y el texto */
}

.imgUser-Slide {
  width: 80%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.text-ImgSlide-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleSlide {
  font-size: 2vw;
  margin: 0;
}

.pSlide-Container{
  padding: 3%;
  font-size: 1.5em;
}

.comillaSlide {
  color: brown;
  font-family: 'Georgia', serif;
}

.pSlide {
  text-align: left;
}