.contacto-Container {
  background-image: url('/images/FONDO-INTERMEDIO.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  /* background-position: bottom; */ /* Centra la imagen */
  /* background-attachment: fixed; */ /* La imagen de fondo permanece fija al hacer scroll */
  background-repeat: no-repeat; /* La imagen no se repite */
  height: auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  }


/* TITLE */

.titleContacto{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    font-size: 6rem;
    display: flex;
    justify-content: center;
  }

.subTitleContacto{
    color: white;
    font-style: italic;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* CONTAINER MEDIOS DE CONTACTO */
.mediosContacto-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 /* BUTTONS */

 .btnsContacto-Container{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .btn-contact {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #FFFFFF; /* Mantén el color blanco */
  z-index: 1;
  background: #4CAF50; /* Verde */
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.btn-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #66BB6A; /* Un tono más claro de verde */
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
  transition: all 250ms;
}

.btn-contact:hover {
  color: gray /* Cambiado a tono verde */
}

.btn-contact:hover::before {
  width: 100%;
}

.imgBtnContacto{
  width: 10%;
  height: 10%;
}


/* FORMULRARIO */
.formConcto-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="query"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 5px;
  font-size: 16px;
}
